= form_with(model: topic) do |form|
  - if topic.errors.any?
    #error_explanation
      %h2
        = pluralize(topic.errors.count, "error")
        prohibited this topic from being saved:
      %ul
        - topic.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :content
    = form.text_area :content
  = form.hidden_field :user_id, value: current_user.id
  .actions
    = form.submit

