.container
  %h2 Create New Topic
  = form_with(model: topic) do |form|
    .form-group
      %label{for: "email"} Email:
      = form.text_field :title, :class => "form-control", :placeholder => "Enter email"
    .form-group
      %label{for: "content"} Content:
      = form.text_field :content, :class => "form-control", :placeholder => "Enter your content"
    = form.hidden_field :user_id, value: current_user.id
    = form.submit
    = link_to 'Back', topics_path
